<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <section class="hero" id="hero">
      <h1 class="hero-title">Generate Descriptions for your Titles</h1>
      <h2 class="hero-subtitle">High SEO Descriptions</h2>
      <label for="titleInput"> Video Title</label>
      <input type="text" id="titleInput" />

      <button class="hero-button" id="generate">Generate Now</button>
    </section>

    <section class="resultsSection">
      <div id="results" class="results"></div>
    </section>

    <script src="./js/script.js"></script>
  </body>
</html>
